@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 220 20% 98%;
    --foreground: 220 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 220 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 10% 10%;
    --primary: 240 29% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 15% 95%;
    --secondary-foreground: 220 10% 10%;
    --muted: 220 15% 95%;
    --muted-foreground: 220 10% 45%;
    --accent: 220 15% 90%;
    --accent-foreground: 220 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 15% 90%;
    --input: 220 15% 90%;
    --ring: 240 29% 54%;
    --chart-1: 240 29% 54%;
    --chart-2: 217 91% 60%;
    --chart-3: 25 95% 53%;
    --chart-4: 280 88% 60%;
    --chart-5: 340 90% 61%;
    --radius: 0.5rem;
    --sidebar-background: 240 29% 54%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 240 29% 54%;
    --sidebar-accent: 240 29% 64%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 29% 64%;
    --sidebar-ring: 0 0% 100%;
    --logo: 25 94% 59%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 240 29% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 222 47% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 47% 20%;
    --muted-foreground: 210 40% 90%;
    --accent: 222 47% 20%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 47% 20%;
    --input: 222 47% 20%;
    --ring: 240 29% 54%;
    --sidebar-background: 240 29% 54%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 240 29% 54%;
    --sidebar-accent: 240 29% 64%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 29% 64%;
    --sidebar-ring: 0 0% 100%;
    --logo: 25 94% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
